CompileFlags:
  CompilationDatabase: build
  Add:
    - -x
    - c++
    - -std=c++23
    - --target=x86_64-pc-windows-msvc
    - -fms-extensions
    - -fms-compatibility
Index:
  Background: Build

Completion:
  AllScopes: Yes
  HeaderInsertion: IWYU

Diagnostics:
  UnusedIncludes: None